.DS_Store
.scratch/
__pycache__/
*.pyc
*.aux
*.fdb_latexmk
*.fls
*.log
*.out
*.xdv
*.synctex.gz
analysis_outputs/*
!analysis_outputs/epi_manifest_updated_summary/
!analysis_outputs/epi_manifest_updated_summary/**

.*sw*
